.info-container {
    width: 70%;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

.feature-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}