.header {
    background-color:lightblue;
    color: black;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    background-color: #e6ecff;
    padding: 40px;
    text-align: center;
}

.departments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}
/* Header Branding */
.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand img {
    height: 100px;
    
}

.brand span {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

/* Navigation */
nav a {
    color: white;
    margin-left: 18px;
    font-size: 14px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
